@namespace Harmonie.UI
@using Sandbox;
@using Sandbox.UI;
@using Harmonie.PowerSpace;
@inherits PanelComponent

<root class="DeviceInfoUI">
	<div class="title">@connected_device.Name</div>
	<div class="info">@(connected_device.PowerConsumption >= 0 ? "Consumation" : "Generation"): @MathF.Abs(connected_device.PowerConsumption) W</div>
	<div class="info @(connected_device.IsActive ? "good" : "critical")">Status: @(connected_device.IsActive ? "On" : "Off")</div>
	<div class="info @(connected_device.PowerIn >= connected_device.PowerConsumption ? "good" : "critical")">Power Recieved: @(connected_device.PowerIn) W</div>
	<div class="info @(connected_device.IsRunning ? "good" : "critical")">IsRunning: @(connected_device.IsRunning ? "True" : "False")</div>
</root>

@code {
	[Property] public DeviceBase connected_device { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( connected_device.Name, connected_device.PowerConsumption, connected_device.IsActive, connected_device.IsPowered, connected_device.PowerIn );
}